<!-- BEGIN_INCLUDE(coupa:save) -->
<coupa:save type="Account">
	<coupa:resource ref="#[groovy: 
		['name':'abc',
		 'segment1':'abc123',
		 'code':'abc123', 
		 'accountType':
		 	['name':'Ace Corporate']
	 	]]"/>
</coupa:save>
<!-- END_INCLUDE(coupa:save) -->

 

<!-- BEGIN_INCLUDE(coupa:find) -->
<coupa:find type="Account" limit="500"/>
<!-- END_INCLUDE(coupa:find) -->

<!-- BEGIN_INCLUDE(coupa:find-by-example) -->
<coupa:find-by-example type="Account">
  <coupa:prototype>
    <code>ASXS44</code>
	<active>false</active>
  </coupa:prototype>
</coupa:find-by-example>
<!-- END_INCLUDE(coupa:find-by-example) -->
